html {
    background-color: rgb(18, 18, 18);
}
body {
    font-size: 1.5em;
    margin:0; padding:0;
}
ul {
    margin: 4%; padding: 0;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: lightblue;
    background-color: rgb(10, 19, 34);
}
nav li {
    font-size: 1.2em;text-decoration: none;
    display: inline-block;
    width: calc(98%/3);
    background-color:rgb(10, 10, 104);
    text-align: center;
    padding-top: .25em;
    padding-bottom: .25em;
}
.title {
    text-align: center;
    color: white;
}
.projects {
    margin: 4%;
}
.projects li{
    font-size: 1em;text-decoration: none;
    display: inline-block;
    width: 200px;
    background-color: rgb(32, 32, 32);
    text-align: center;
    padding-top: .25em;
    padding-bottom: .25em;

}

.projectPictures {
    width: 150px;
    Height: 150px;
}